@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@plugin "daisyui" {
  themes: false;
}

@config '../../tailwind.config.js';

@import './tailwind/_base.css';
@import './tailwind/_components.css';
@import './tailwind/_utilities.css';

@import './_checkbox-radio-switch.css';
@import './_progress.css';
@import './_scrollbars.css';
@import './_table.css';
@import './_color.css';

@import './styles/_basic.css';
@import './styles/_white.css';

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
}

@theme {
  --font-poppins: 'Poppins';
  --breakpoint-3xl: 120rem; /* 1920px */
  --breakpoint-4xl: 150rem; /* 2400px */
  --breakpoint-5xl: 240rem; /* 3840px */
}
